@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --prestamochi-blue: #0404FF;
  --prestamochi-green: #03FF86;
  --prestamochi-white: #FFFFFF;
  --font-jetbrains: var(--font-jetbrains-mono);
  --font-jersey: var(--font-jersey-10);
  --font-spacemono: var(--font-space-mono);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

